<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
    <script th:src="@{/js/jquery-1.11.1.min.js}"></script>
</head>
<body>

<div class="login-page">
    <div style="text-align: right">
        <a style="color: #d4d7a9; text-align: right; width:140px; height:30px;" href="/">首页</a>
        <a style="color: #d4d7a9; text-align: right; width:140px; height:30px;" href="/register">注册</a>
    </div>
    <div class="form">
        <input type="text" placeholder="用户名" name="username" required="required" onblur="checkUsernameValue()"/>
        <input type="password" placeholder="密码" name="password" required="required" onblur="checkPasswordValue()"/>
        <p><input type="checkbox" name="rememberMe" />记住我</p>
        <button onclick="login()">登录</button>
    </div>
</div>
</body>
<script th:inline="javascript">
    var ctx = "\/";
   var login = function (ev) {
        if (!ev || ev.keyCode == 13) {
            // var username = $("input[name='username']").val();
            // var password = $("input[name='password']").val();
            // var rememberMe = $("input[name='rememberMe']").is(':checked');
            var sysUserReq = {
                userName : $("input[name='username']").val(),
                password : $("input[name='password']").val(),
                rememberMe : $("input[name='rememberMe']").is(':checked')
            };
            $.ajax({
                type: "post",
                url: ctx + "login",
                data: JSON.stringify(sysUserReq),
                contentType: "application/json",
                dataType: "json",
                success: function (r) {
                    if (r.code == 0) {
                        location.href = ctx + 'index';
                    } else {
                        alert(r.msg);
                    }
                }
            });
        }
    };
    document.onkeydown = login;

    var checkUsernameValue = function (e) {
        var username = $("input[name='username']").val();
        if (username == null || username ==='') {
            window.alert("用户名不能为空！")
        }
    };
    var checkPasswordValue = function (e) {
        var password = $("input[name='password']").val();
        if (password == null || password === '') {
            window.alert("密码不能为空！")
        }
    }
</script>
</html>